.innernavbarWrapper {
  padding: 20px 50px 10px 10px;
  float: right;
}

.navList {
  display: flex;
  gap: 40px;
  align-items: center;
}

.hamburgerMenu {
  display: none;
}

.menuItem span {
  font-size: clamp(1rem, 0.9500rem + 0.2500vw, 1.25rem);
  font-weight: 600;
}

.navBtn Button {
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 768px) {
  .menuItem {
    display: none;
  }

  .innernavbarWrapper {
    width: 100%;
    padding: 20px;
  }

  .navList {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
  }


  .hamburgerMenu {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
}