.hamburgerMenu {
  display: none;
}

.navBtn Button {
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 768px) {
  .menuItem {
    display: none;
  }

  .innernavbarWrapper {
    width: 100%;
    padding: 20px;
  }

  .navList {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
  }


  .hamburgerMenu {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
}