.inputText::placeholder {
  color: #000000;
  font-weight: 500;
}

/* .inputwithImg .inputText {
  width: fit-content;
} */

/* .listStatement {
  padding-left: 30px;
  padding-right: 0;
  padding-top: 15px;
} */

.listStatement ul li {
  opacity: 81%;
}

.rightHeroWrapper {
  max-width: 400px;
  position: relative;
}

.rightHeroImage {
  position: absolute;
  top: 0;
}

.rightFrontImage {
  position: absolute;
  top: 90px;
  width: 50%;
  left: 20%;
}


.rightFrontImage img {
  align-items: center;
}

.rightHeroWrapper p {
  text-align: center;
  font-weight: 600;
}



@media screen and (max-width: 842px) {
  .topheroInnerWrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .rightFrontImage {
    top: 60px;
  }
}