.headerWrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.hinnerWrapper {
  padding-top: clamp(0.7rem, 0.6272rem + 0.3107vw, 1rem);
  padding-left: clamp(10rem, 9.5146rem + 2.0712vw, 12rem);
}


.hinnerWrapper .topHeader {
  font-size: clamp(2.25rem, 2.1375rem + 0.5625vw, 2.8125rem);
  width: fit-content;
  padding: 5px;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .hinnerWrapper {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: clamp(3.125rem, 2.6699rem + 1.9417vw, 5rem);
  }
}