.searchWrapper {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: center;
}

.firstWrapper {
  background-color: #6E9CC7;
  padding: 30px;
  padding-left: clamp(3rem, 2.3500rem + 3.2500vw, 6.25rem);
  border-radius: 10px;
  flex: 1;
  max-width: 100%;
  height: fit-content;
  margin-top: 50px;
}

.topSearch {
  gap: 20px;
  justify-content: space-between;
}

.topSearch,
.searchSection,
.locationSection {
  display: flex;
  gap: 10px;
}

.searchSection img,
.locationSection img {
  width: 26px;
  height: 26px;
  margin-top: 10px;
}

.topSearch input {
  background-color: #DCE3F3;
  border-radius: 10px;
  width: 100%;
}

.inputText::placeholder {
  color: #000000;
  text-align: center;
  font-weight: 600;
}

.wsearchSection {
  background-color: #014ED5;
  border-radius: 10px;
  width: fit-content;

}

.wsearchSection img {
  padding: 3px;
}

.sectionText p {
  font-size: 18px;
  font-weight: 500;
  padding-top: 30px;
}

.bottomSearch {
  margin-top: 20px;
  display: flex;
  gap: clamp(2rem, 1.4000rem + 3.0000vw, 5rem);
}

.departList {
  background-color: #DCE3F3;
  padding-top: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  width: 100%;
}

.secondWrapper {
  position: relative;
}

.secondWrapper img {
  height: 350px;
  width: 100%;
}

.secondImgWrapper {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.secondImgWrapper img {
  height: 300px;
  width: 100%;

}

@media screen and (max-width: 1160px) {
  .searchWrapper {
    flex-direction: column;
  }

  .secondWrapper img {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 844px) {
  .bottomSearch {
    display: grid;
    grid-template-columns: auto auto;
  }
}


@media screen and (max-width: 425px) {
  .bottomSearch {
    display: grid;
    grid-template-columns: auto;
  }
}


@media screen and (max-width: 768px) {
  .searchWrapper {
    flex-direction: column;
  }

  .topSearch {
    flex-direction: column;
  }
}