.footerSection {
  background-color: #738CE2AD;
}

.footerWrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 10px 40px 50px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 5px;
}